<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= yield(:title) + " | The Site" || "The Site" %>
    </title>


    <!-- include js/css files -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>


    <!-- favicon -->
    <%= favicon_link_tag %>


  </head>
  <body>


    <!-- We need wrap to fill the body in order for the footer to stay at the bottom -->
    <div id = "wrap">
    
      <%= render 'layouts/header' %>
      
      <!-- Flash notifications for devise authentication -->
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p> 
      <% end %>
      <%= yield %>
    
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>
